body {
    background-image: url("../images/ecailles.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#mainheader {
    position: fixed;
    overflow: auto;
    z-index: 99;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 30px;
}

.header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    font-size: 25px;
    background-color: #4aaaa5;
    float: left;
    color: white;
    width: 250px;
    height: 90px;
    text-align: center;
    line-height: 85px;
    text-decoration: none;
}

nav {
    float: right;
    line-height: 85px;
}

nav a {
    padding-left: 25px;
    border-left: 1px solid #cccccc;
    margin-left: 25px;
    text-decoration: none;
    color: #777777;
}

nav a:first-child {
    border-left: 0 none;
}

#container2 {
    background-color: #ffffff;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 2px solid #dddddd;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 83px;
    clear: both;
    overflow: auto;
}

.about {
    font-size: 25px;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
    padding: 15px;
    margin-bottom: 20px;
}
 
.body {
    padding-top: 100px;
    color: #777777;
    min-height: calc(100vh - 209px);
}

.me {
    float: left;
    margin: 10px;
}

.form {
    color: #777777;
    margin-top: 25px;
}

.form li {
    padding: 5px;
}

.submit {
    margin-top: 25px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#container2 .projects {
    position: relative;
    float: left;
    width: 350px;
    height: 270px;
    overflow: auto;
}

#container2 .projects h2 {
    border-bottom: 0;
    background: #4AAAA5;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    width: 240px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 300;
}

#container2 .pics {
    width: 270px;
    height: 230px;
    float: left;
}

footer{
    margin-top: 25px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    padding: 30px 0;
    clear: both;
    color: #777777;
}